.chats {
    display: flex;
    flex-direction: column;
}

.chats-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chats-header-info {
    flex: 1;
    padding-left: 20px;
}

.chats-header-info > h3 {
    font-weight: 500;
    margin-bottom: 3px;
}

.chats-header-info > p {
    color: gray;
}

.chats-header-icons {
    min-width: 100px;
}